@import '../../styles/colorscheme';
@import '../../styles/mixins';

.FeaturedProjects{
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    margin: 0 auto;
    padding-top: 7rem;
    width: 90%;
    max-width: 72rem;   

    h1{
        color: $light-blue;
        font-size: 2.75rem;
        text-align: center;

        @include breakpoint(sm,max){
            font-size: 2rem;
        }

        @include breakpoint(sm,min){
            font-size: 2rem;
        }

        @include breakpoint(md,min){
            text-align: left;
            font-size: 2.5rem;
        }

        @include breakpoint(lg,min){
            font-size: 2.75rem;
        }

    }

    .viewMoreProjects{
        width: fit-content;
        position: relative;
        text-align: center;
        margin: 2rem auto;

        color: black;

        span{
            display: inline;
            position: absolute;
            left: calc(100% + 10px);
            
        }

        
    }

    .projectGrid{
        display: flex;
        flex-flow: row wrap;
    
        justify-content: space-evenly;
        align-items: center;
    
        gap: 25px;

         
    }
}