@import '../../styles/colorscheme';
@import '../../styles/mixins';

.Home__HeroSection{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;


    margin: 0 auto;
       
    gap: 0rem;

    background: url('../../public/Background.svg');
    background-repeat: no-repeat;
    background-size: cover;

    .HeroSection__Hero{
        width: 100%;
        max-width: 84rem;
        height: inherit;
        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr .9fr;
        grid-auto-rows: auto;
        
        
        place-items: center;

        margin: 0 auto;
        color: white;
        
        .Hero__HeroText{  
            margin: 0 3rem;
            text-align: center;
            align-self: start;
            z-index: 10;
            grid-row: 2/3;
            
            h1{
                font-size: 1rem;
                margin: 0;
                font-weight: 700;
            }

            p{
                font-weight: 300;
                font-size: .8rem;
                margin: .5rem 0 1.5rem 0;
            }
           
            .HeroText__HeroButtons{

               a{
                border: none;
                border-radius: 50vw;
    
                
                color: white;
                
                font-weight: 600;
                font-size: 1rem;
    
                padding: .5rem 1rem;
    
    
               }
    
                :first-child{
                    background-color: $light-blue;
                    margin-right: 1rem;
                }
                :last-child{
                    border: 3px solid white;
                    margin-left: 1rem;
                }

                @include breakpoint(md,min){
                    grid-row: 1/2;
                }
            }

            @include breakpoint(sm,min){
                h1{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.75rem;
                    margin: 1rem 0 3rem 0;
                }

                .HeroButtons{
                    a{
                        font-size: 1rem;
                        padding: 1rem 2rem;
                    }
                }
            }

            @include breakpoint(md,min){
                align-self: center;
                text-align: left;
                grid-row: 1/2;

                h1{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.75rem;
                    margin: 1rem 0 3rem 0;
                }

                .HeroButtons{
                    a{
                        font-size: 1rem;
                        padding: 1rem 2rem;
                    }
                }
            }
        }

        .Hero__HeroImage{
            display: block;
            width: 90%;
            grid-column: 1 / 2;

            @include breakpoint(md,min){
                max-width: 100%;
                grid-column: 2 / 3;


            }
            
        }

        @include breakpoint(md,min){
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 50% auto;
            grid-auto-columns: auto;

        }

        @include breakpoint(lg,min){
            grid-template-columns: 640px auto;
        }
    }


    @include breakpoint(md,min){
        height: 750px;
    }

      

}

.Home__AboutMe{
    position: relative;
    

    margin: 0 auto;
    width: 90%;
    max-width: 80rem;    

    

   
    .AboutMe__ArticleSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        max-width: 90%;
        margin: 0 auto;

        color: $black;
        text-align: left;
        

        h1{
            margin-bottom: -.5rem;
            color: $light-blue;

            @include breakpoint(sm,max){
                
                font-size: 1.5rem;
            }

            @include breakpoint(sm,min){
                font-size: 2rem;
            }

            @include breakpoint(md,min){
                
                font-size: 2.5rem;
            }

            @include breakpoint(lg,min){
                font-size: 2.75rem;
            }
            

        }


        p{
            
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 2.4;

            @include breakpoint(sm,max){
                font-size: .75rem;
            }

            @include breakpoint(sm,min){
                font-size: .75rem;
            }

            @include breakpoint(md,min){
                font-size: 1rem;
            }

            @include breakpoint(lg,min){
                font-size: 1.1rem;
            }
            

            a{
                cursor: pointer;
            }

            
        }

       
    }


    
}

.Home__RelevantSkills{
    width: 90%;
    max-width: 72rem;
    margin: 3rem auto;

    h1{
        font-size: 2.75rem;
        color: $light-blue;
        text-align: left;
    }

    .RelevantSkills__SkillsGrid{
        display: flex;
        flex-flow: row wrap;
        gap: 75px;
        
        margin: 5rem 0;

        justify-content: center;
        align-items: center;
        text-align: center;
    
        .SkillsGrid__Skill{
            
            .icon{
                display: flex;
                place-content: center;
                place-items: center;
    
                width: 100px;
                height: 100px;
    
                background-color: $grey;
                border-radius: 50%;
                
            }
        }
    }
}

.Home__Strengths{
    width: 100%;
    height: auto;
    

    .Strengths__StrengthContainer{
        width: 90% ;
        max-width: 80rem;
        margin: 0 auto;
        margin-bottom: 3rem;
        
        
    
        h1{
            color: $light-blue;
            font-size: 2.75rem;
            text-align: center;
    
            @include breakpoint(sm,max){
                font-size: 2rem;
            }
    
            @include breakpoint(sm,min){
                font-size: 2rem;
            }
    
            @include breakpoint(md,min){
                font-size: 2.5rem;
            }
    
            @include breakpoint(lg,min){
                font-size: 2.75rem;
            }
    
        }
    
        .StrengthContainer__SkillRow{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;

            margin: 5rem 0;
            gap: 50px;
        }
        
    }
}

.FeaturedProjects{
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    margin: 0 auto;
    width: 90%;
    max-width: 72rem;

    h1{
        color: $light-blue;
        font-size: 2.75rem;
        text-align: left;

        @include breakpoint(sm,max){
            font-size: 2rem;
        }

        @include breakpoint(sm,min){
            font-size: 2rem;
        }

        @include breakpoint(md,min){
            font-size: 2.5rem;
        }

        @include breakpoint(lg,min){
            font-size: 2.75rem;
        }

    }

    .viewMoreProjects{
        width: fit-content;
        position: relative;
        text-align: center;
        margin: 2rem auto;

        color: black;

        span{
            display: inline;
            position: absolute;
            left: calc(100% + 10px);
            
        }

        
    }

    .projectGrid{
        display: flex;
        flex-flow: row wrap;
    
        justify-content: space-evenly;
        align-items: center;
    
        gap: 25px;

         
    }
}


.Home__SkillsAndExperience{

    max-width: 80rem;
    margin: 0 auto;

    h1{
        font-size: 3rem;
        color: $light-blue;
    }

    .Home__Experiences{
        display: flex;
        flex-flow: column nowrap;
        place-content: center;
    
        max-width: 100%;
        max-height: min-content;
    
        .JobCard{
            display: flex;
            flex-flow: column nowrap;
            place-items: flex-start;
            gap: 50px;
    
            margin-top: -1rem;
        
            .JobCard-Divider{
                min-height: fit-content;
    
                .JobCard-Divider-VertLine{
                    margin-top: -1.65rem;
                    max-width: 1px;
                    min-height: 100px;
                    background-color: $black;
                }
            }
        
            .JobCard-Content{
                min-width: 100%;
                display: flex;
                flex-flow: column nowrap;
                place-items: flex-start;
        
                .JobCard-Content-TitleDate{
                    min-width: inherit;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
        
                    .JobCard-Content-TitleDate-Title{
                        font-size: 2rem;
                    }
    
                    .JobCard-Content-TitleDate-Date{
                        font-weight: 400;
                    }
    
                    @include breakpoint(sm,max){
                        flex-flow: column nowrap;
                        align-items: flex-start;
                        justify-content:center;
    
                        .JobCard-Content-TitleDate-Date{
                            margin-top: -2rem;
                        }
                    }
            
                    @include breakpoint(sm,min){
                        flex-flow: column nowrap;
                        align-items: flex-start;
                        justify-content: center;
    
                        .JobCard-Content-TitleDate-Date{
                            margin-top: -2rem;
                        }
                    }
            
                    @include breakpoint(md,min){
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
    
                        .JobCard-Content-TitleDate-Date{
                            margin-top: 0rem;
                        }
                    }
            
    
                }
    
                .JobCard-Content-Desc{
                    margin-top: -1rem;
                    font-size: 1.25rem;
    
                    @include breakpoint(sm,max){
                        margin-top: 0rem;
                    }
            
                    @include breakpoint(sm,min){
                        margin-top: 0rem;
                    }
            
                    @include breakpoint(md,min){
                        margin-top: -1rem;
                    }
                }
                
            }
    
            hr{
                margin-top: -2rem;
                margin-bottom: 2rem;
                width: 100%;
                border: 2px solid $black;
                
            }
        }
    } 
}

.ContactInfoWrapper{
    margin: 6rem 0 0 0;
    padding: 1rem 4rem;
    text-align: center;

    width: 100%;    
    background: linear-gradient(0deg, rgba(0,58,127,1) 0%, rgba(9,132,227,1) 100%);
    
    

    h1{
        font-size: 2.75rem;
        color: white;
        margin-bottom: .5rem;

        @include breakpoint(sm,max){
            font-size: 2rem;
        }
        
        @include breakpoint(sm,min){
            font-size: 2rem;
        }

        @include breakpoint(md,min){
            font-size: 2.75rem;
        }
    }

    h2{
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 0rem;
        color: white;
    }

    p{
        margin: 0 auto;
        font-size: 1rem;
        max-width: 640px;
        font-weight: 600;

        color: white;

        @include breakpoint(sm,max){
            margin: 0 1rem;
            font-size: .75rem;
        }
        
        @include breakpoint(sm,min){
            margin: 0 1rem;
            font-size: .75rem;
        }

        @include breakpoint(md,min){
            margin: 0 auto;
            font-size: 1rem;
        }

       
        
    }

    .ContactInfo{
        display: flex;
        flex-direction: column;
        p{
            max-width: none;
            font-size: 1rem;
            font-weight: 400;
            margin: .25rem 0rem .25rem 0rem;
        }
    }

    .Socials{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        
        a{
            display: flex;
            place-items: center;
            
            margin: 1rem;
            padding: 1rem;

            
            border-radius: 50%;
            
            border: none;

            transition: all .5s;

            .icon{
                margin-top: 1rem;
               height: auto;

               @include breakpoint(sm,max){
                    max-width: 20px;
                }
            
                @include breakpoint(sm,min){
                    max-width: 20px;
                }
    
                @include breakpoint(md,min){
                    max-width: 40px;
                }
            }

            p{
                margin: 0 0 0 .5rem;
                text-align: center;
                align-self: center;
                color: white;
            }


            &:hover{
                cursor: pointer;
                animation: .5s ease-out bounce;
            }

            @keyframes bounce {
                0% {scale: 1}
                25% {scale: 1.25}
                50% {scale: 1.37}
                75% {scale: 1.25}
                100% {scale: 1}
            }

        }


    }
}



