.TileContainer{
    display: flex;
    flex-direction: column;
    background-color: #3498db;
    border-radius: 20px;
    transition: all .3s;

    .Headline{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 1rem;
        margin: 1rem;


        .TitleandDescriptor{
            text-align: center;
            
            p{
                margin-top: -1rem;
                
            }
        }

        hr{
            width: 95%;
            justify-self: center;
            border: solid white 2px;
        }

        .Subline{
            color: #ffffff;
            font-weight: bold;
            display: flex;
            justify-content: center;
        
            .SkillType{
                display: flex;
                align-items: center;
                p{
                    margin-right: .5rem;
                }
    
                .star{
                    margin: 0 .25rem 0 0;
                }
            }
        }
    
    }

    .ImageContainer{
        .ImageWrapper{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &:hover{
        color: lighten(#456f9d,20);
        box-shadow: 0px 3px 8px;
        scale: 1.05;
    }
    

}