@use '../../styles/colorscheme';



.FooterWrapper{

    position: relative;
    width: 100%;
    
    bottom: 0;
    overflow: auto;
    
    .FooterBar{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 8rem;

        
        
        .FooterContainer{
            p{
                color: colorscheme.$light-blue;
                font-weight: bold;
                text-align: center;
                font-size: 1rem;
            }
        }
    }  
}