@import '../../styles/colorscheme';
@import '../../styles/mixins';


.Home__RelevantSkills{
    width: 90%;
    max-width: 72rem;
    margin: 3rem auto;

    h1{
        font-size: 2.75rem;
        color: $light-blue;
        text-align: left;
    }

    .RelevantSkills__SkillsGrid{
        display: flex;
        flex-flow: row wrap;
        gap: 75px;
        
        margin: 5rem 0;

        justify-content: center;
        align-items: center;
        text-align: center;
    
        .SkillsGrid__Skill{
            
            .icon{
                display: flex;
                place-content: center;
                place-items: center;
    
                width: 100px;
                height: 100px;
    
                background-color: $grey;
                border-radius: 50%;
                
            }
        }
    }
}

.Home__SkillsAndExperience{

    max-width: 80rem;
    margin: 0 auto;

    h1{
        font-size: 3rem;
        color: $light-blue;
    }

    .Home__Experiences{
        display: flex;
        flex-flow: column nowrap;
        place-content: center;
    
        max-width: 100%;
        max-height: min-content;
    
        .JobCard{
            display: flex;
            flex-flow: column nowrap;
            place-items: flex-start;
            gap: 50px;
    
            margin-top: -1rem;
        
            .JobCard-Divider{
                min-height: fit-content;
    
                .JobCard-Divider-VertLine{
                    margin-top: -1.65rem;
                    max-width: 1px;
                    min-height: 100px;
                    background-color: $black;
                }
            }
        
            .JobCard-Content{
                min-width: 100%;
                display: flex;
                flex-flow: column nowrap;
                place-items: flex-start;
        
                .JobCard-Content-TitleDate{
                    min-width: inherit;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
        
                    .JobCard-Content-TitleDate-Title{
                        font-size: 2rem;
                    }
    
                    .JobCard-Content-TitleDate-Date{
                        font-weight: 400;
                    }
    
                    @include breakpoint(sm,max){
                        flex-flow: column nowrap;
                        align-items: flex-start;
                        justify-content:center;
    
                        .JobCard-Content-TitleDate-Date{
                            margin-top: -2rem;
                        }
                    }
            
                    @include breakpoint(sm,min){
                        flex-flow: column nowrap;
                        align-items: flex-start;
                        justify-content: center;
    
                        .JobCard-Content-TitleDate-Date{
                            margin-top: -2rem;
                        }
                    }
            
                    @include breakpoint(md,min){
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
    
                        .JobCard-Content-TitleDate-Date{
                            margin-top: 0rem;
                        }
                    }
            
    
                }
    
                .JobCard-Content-Desc{
                    margin-top: -1rem;
                    font-size: 1.25rem;
    
                    @include breakpoint(sm,max){
                        margin-top: 0rem;
                    }
            
                    @include breakpoint(sm,min){
                        margin-top: 0rem;
                    }
            
                    @include breakpoint(md,min){
                        margin-top: -1rem;
                    }
                }
                
            }
    
            hr{
                margin-top: -2rem;
                margin-bottom: 2rem;
                width: 100%;
                border: 2px solid $black;
                
            }
        }
    } 
}