@import '../../styles/colorscheme';
@import '../../styles/mixins';


.RelevantSkills{
    width: 90%;
    max-width: 72rem;
    margin: 0 auto;

    h1{
        font-size: 2.75rem;
        color: $light-blue;
        text-align: center;

        @include breakpoint(lg,min){
            font-size: 3.5rem;
        }

        @include breakpoint(md,min){
            text-align: left;
            font-size: 3rem;
        }

        @include breakpoint(sm,max){
            font-size: 2rem;
        }

        @include breakpoint(sm,min){
            font-size: 2.5rem;
        }
    }

    .RelevantSkills__SkillsGrid{
        display: flex;
        flex-flow: row wrap;
        gap: 75px;
        
        margin-top: 5rem;

        justify-content: center;
        align-items: center;
        text-align: center;
    
        .SkillsGrid__Skill{
            
            .icon{
                display: flex;
                place-content: center;
                place-items: center;
    
                width: 100px;
                height: 100px;
    
                background-color: $grey;
                border-radius: 50%;
                
            }
        }
    }
}

.Experience{
    width: 90%;
    padding-top: 7rem;
    max-width: 72rem;
    margin: 3rem auto;

    h1{
        font-size: 2.75rem;
        color: $light-blue;
        text-align: center;

        @include breakpoint(lg,min){
            font-size: 3.5rem;
        }

        @include breakpoint(md,min){
            text-align: left;
            font-size: 3rem;
        }

        @include breakpoint(sm,max){
            font-size: 2rem;
        }   

        @include breakpoint(sm,min){
            font-size: 2.5rem;
        }
    }

    .ExperienceItem{

        margin: 3rem 0;

        .Header{
            
            .Title{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                margin: -2rem 0;

                h3{
                    color: $light-blue;
                    font-size: 1.5rem;
                    
                    @include breakpoint(lg,min){
                        font-size: 1.25rem;
                    }
    
                    @include breakpoint(md,min){
                        font-size: 1rem;
                    }

                    @include breakpoint(sm,max){
                        font-size: 1rem;
                    }
    
    
                    

                }
                .Date{
                    color: $light-blue;
                    font-weight: 600;
                    text-align: right;
                    @include breakpoint(lg,min){
                        font-size: .9rem;
                    }
    
                    @include breakpoint(md,min){
                        font-size: .85rem;
                    }

                    @include breakpoint(sm,max){
                        font-size: .75rem;
                    }
                }
            }
            h4{
                color: $light-blue;
                font-size: 1rem;
                @include breakpoint(lg,min){
                    font-size: .9rem;
                }

                @include breakpoint(md,min){
                    font-size: .85rem;
                }

                @include breakpoint(sm,max){
                    font-size: .75rem;
                }
            }
            
        }
        ul {
            max-width: 80%;
            li{
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 2.4;

                @include breakpoint(sm,max){
                    font-size: .75rem;
                }

                @include breakpoint(sm,min){
                    font-size: .75rem;
                }

                @include breakpoint(md,min){
                    font-size: 1rem;
                }

                @include breakpoint(lg,min){
                    font-size: 1.1rem;
                }
                
            }
        }
    }

}