@import 'colorscheme';
@import 'mixins';


/** Contact Me **/

.ContactInfoWrapper{
    margin: 6rem auto;
    padding: 1rem 4rem;
    text-align: center;

    width: min(90%, 800px);
    background: linear-gradient(0deg, rgba(0,58,127,1) 0%, rgba(9,132,227,1) 100%);
    
    border-radius: 4vw;

    h1{
        font-size: 2.75rem;
        color: white;
        margin-bottom: .5rem;

        @include breakpoint(sm,max){
            font-size: 2rem;
        }
        
        @include breakpoint(sm,min){
            font-size: 2rem;
        }

        @include breakpoint(md,min){
            font-size: 2.75rem;
        }
    }

    h2{
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 0rem;
        color: white;
    }

    p{
        margin: 0 auto;
        font-size: 1rem;
        max-width: 640px;
        font-weight: 600;

        color: white;

        @include breakpoint(sm,max){
            margin: 0 1rem;
            font-size: .75rem;
        }
        
        @include breakpoint(sm,min){
            margin: 0 1rem;
            font-size: .75rem;
        }

        @include breakpoint(md,min){
            margin: 0 auto;
            font-size: 1rem;
        }

       
        
    }

    .ContactInfo{
        display: flex;
        flex-direction: column;
        p{
            max-width: none;
            font-size: 1rem;
            font-weight: 400;
            margin: .25rem 0rem .25rem 0rem;
        }
    }

    .Socials{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        
        a{
            display: flex;
            place-items: center;
            
            margin: 1rem;
            padding: 1rem;

            
            border-radius: 50%;
            
            border: none;

            transition: all .5s;

            .icon{
                margin-top: 1rem;
               height: auto;

               @include breakpoint(sm,max){
                    max-width: 20px;
                }
            
                @include breakpoint(sm,min){
                    max-width: 20px;
                }
    
                @include breakpoint(md,min){
                    max-width: 40px;
                }
            }

            p{
                margin: 0 0 0 .5rem;
                text-align: center;
                align-self: center;
                color: white;
            }


            &:hover{
                cursor: pointer;
                animation: .5s ease-out bounce;
            }

            @keyframes bounce {
                0% {scale: 1}
                25% {scale: 1.25}
                50% {scale: 1.37}
                75% {scale: 1.25}
                100% {scale: 1}
            }

        }


    }
}






