@import 'colorscheme';


@mixin button1{
    border-radius: 12px;
    background: $light-blue;
    border: none;
    
    p{
        margin: 0 auto;
        color: white;
        font-size: 1rem;
    }

    &:hover{
        cursor: pointer;
    }
}