.AboutMeContent{
    margin-left: 2rem;
    margin-bottom: 5rem;
    text-align: justify;
    width: 90%;

    h1{
        font-size: 4rem;
    }

    .ArticleBox{
        .Textbox{
            margin-left: 2rem;
            p{
                margin-left: .5rem;
            }
        }
    }
}
