@import "colorscheme";

.ContactInfoWrapper{
    margin: 2rem 2rem 2rem 2rem;


    h2{
        font-size: 2.75rem;
        color: $light-blue;
        margin-bottom: -1rem;
    }

    h3{
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 0rem;
        margin-left: 1.5rem;
    }

    p{
        margin-left: .5rem;
        font-weight: 600;
    }

    .ContactInfo{
        display: flex;
        flex-direction: column;
        p{
            font-size: 1.25rem;
            font-weight: 400;
            margin: .25rem 0rem .25rem 1.5rem;
        }
    }

    .Socials{
        h3{
            margin-bottom: 1rem;
        }
    }
}