@import "colorscheme";

.ContactInfoWrapper{
    margin: 0 auto;
    margin-bottom: 12rem;
    text-align: center;

    max-width: 1440px;

    h2{
        font-size: 2.75rem;
        color: $light-blue;
        margin-bottom: .5rem;
    }

    h3{
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 0rem;
    }

    p{
        margin: 0 auto;
        max-width: 1024px;
        font-weight: 600;
        
    }

    .ContactInfo{
        display: flex;
        flex-direction: column;
        p{
            max-width: none;
            font-size: 1rem;
            font-weight: 400;
            margin: .25rem 0rem .25rem 0rem;
        }
    }

    .Socials{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            
            margin: 3rem 1rem 0 0;
            padding: 1rem;

            max-width: 250px;
            height: 100%;
            border-radius: 50%;
            
            border: none;
            transition: all .25s;

            .icon{
                margin-left: .5rem;
            }

            p{
                margin: 0 0 0 .5rem;
                text-align: center;
                align-self: center;
                color: white;
            }


            &:hover{
                cursor: pointer;
            }
        }


    }
}