@import 'colorscheme';
@import 'mixins';

.FrontPiece{
    background-image: url(../public/PrettyMountainBackground.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    height: 640px;
    color: white;
    h1{
        font-size: 6rem;
        margin-bottom: -3rem;
    }
    p{
        font-size: 2rem;
    }
    button{
        width: 180px;
        height: 60px;
        @include button1;
    }

    
    
}


.AboutMeSection{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;

    .aboutMeIntro{
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        .PictureContainer{
            width: 100%;
            max-width: 360px;
            border-radius: 10px;
            align-self: center;
            margin-right: 3rem;
            > div{
                position: unset;
            }
            
            .myPfp{
                object-fit: contain;
                width: 100%;
                position: relative;
                height: unset;
            }
        }
    
        .aboutMeIntroText{
            text-align: left;
            max-width: 60%;
            h2{
                margin: 0 2rem 0rem 1rem;
                font-size: 2.75rem;
            }

    
            p{
                margin: 0 2rem 0 1rem;
                font-weight: 300;
                font-size: 1.25rem;
            }
        }

    }

    .aboutMeSkills{
        text-align: left;
        margin-bottom: 100px;
        h2{
            margin: 0 2rem 0 1rem;
            font-size: 2.75rem;
        }


        h3{
            text-align: center;
            font-size: 1rem;
            margin: 0 1rem 0 1rem;
            font-weight: 350;
        }

        p{
            margin: 0 2rem 0 1rem;
            font-weight: 300;
            font-size: 1.25rem;
        }
    }

}

.SkillSection{
    display: block;
    text-align: center;
    margin-bottom: 4rem;
    

    h2{
        font-size: 3rem;
    }

    .SkillContainer{
        display: flex;
        justify-content: center;
        .SkillWrapper{
            max-width: 1440px;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(4,1fr);
            
        }
    }
    
}

.PitchSection{
    text-align: center;
    margin: 0 auto;
    max-width: 1024px;

    h1{
        font-size: 3rem;
        margin: 0 2rem 0 2rem;
    }

    h3{
        text-decoration: underline;
        font-size: 2rem;
    }



    .ContactInfoWrapper{
        display: flex;
        justify-content: center;
        margin: 0 1rem 1rem 1rem;
        .ContactInfoContainer{
            display: flex;
            flex-direction: row;
            p{
                margin: 0 1rem 0 1rem;
                font-size: 1.5rem;
            }
        }
        
    }
}

// Responsive Section

@media screen and (max-width: 640px) {
    .FrontPiece{
        .FrontBigText{
            font-size: 3rem;
        }
    }

    .AboutMeSection{
        .AboutMeText{
            h2{
                font-size: 2rem;
            }
            p{
                font-size: 80%;
            }
        }
    }

    .SkillSection{
        h2{
            font-size: 2rem;
        }
    }

    .PitchSection{
        h1{
            font-size: 2rem;
        }
    }
}


@media screen and (max-width: 1280px){
    .SkillSection{
        .SkillContainer{
            .SkillWrapper{
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}