@import 'colorscheme';
@import 'mixins';

.Headline{
    background-image: url(../public/LinkedInBanner.png);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 5rem 0;
    margin-bottom: 3rem;

    gap: 10rem;

    .Headers{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        color: white;
        
        

        h1{
            font-size: 3rem;
            margin-bottom: -2rem;
        }
        p{
            font-size: 1.5rem;
        }

        @media (orientation: portrait){
            align-items: center;
        }

    }

    .coverPicture{
        border-radius: 50%;
    }
    
    @media (orientation: portrait) {
        gap: 0rem;
    }

}



.AboutMeSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 72rem;    
         
    .aboutMeText{
        display: flex;
        flex-direction: column;
        color: $black;
        text-align: left;
        margin: 0 2rem 0 2rem;

        h2{
            margin-bottom: -.5rem;
            color: $light-blue;

            @include breakpoint(sm,max){
                font-size: 1.5rem;
            }

            @include breakpoint(sm,min){
                font-size: 2rem;
            }

            @include breakpoint(md,min){
                font-size: 2.5rem;
            }

            @include breakpoint(lg,min){
                font-size: 3rem;
            }
            @include breakpoint(xxl,min){
                font-size: 3rem;
            }
        }


        p{
            
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 2;

            @include breakpoint(sm,max){
                font-size: .75rem;
            }

            @include breakpoint(sm,min){
                font-size: .75rem;
            }

            @include breakpoint(md,min){
                font-size: 1rem;
            }

            @include breakpoint(lg,min){
                font-size: 1.1rem;
            }
            @include breakpoint(xxl,min){
                font-size: 1.3rem;
            }

            a{
                cursor: pointer;
            }
        }
    }


}

.SkillSection{
    display: block;
    text-align: center;
    margin-bottom: 3rem;
    

    h2{
        color: $light-blue;
        font-size: 3rem;

        @include breakpoint(sm,max){
            font-size: 2rem;
        }

        @include breakpoint(sm,min){
            font-size: 2rem;
        }

        @include breakpoint(md,min){
            font-size: 2.5rem;
        }

        @include breakpoint(lg,min){
            font-size: 3rem;
        }

    }

    .SkillContainer{
        display: flex;
        justify-content: space-evenly;
        .SkillWrapper{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            gap: 50px;
        }
    }
    
}



