@import 'colorscheme';


.ProjectsPageTitle{
    text-align: center;
    margin-left: 1rem;
    margin-bottom: 0rem;
}

.projectWrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 90rem;

    margin: 2rem auto;
    margin-bottom: 5rem;
    padding: 1rem;

    .projectGrid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 5rem;
        
        @media(orientation: portrait){
            gap: 2rem;
            grid-template-columns: 1fr;
        }
    }
}
