@import 'colorscheme';


.ProjectsPageTitle{
    margin-left: 4.5rem;
    font-size: 2.75rem;
    text-align: left;
}

.ProjectWrapper{
    margin: 1rem 0 3rem 0;
    .ProjectGrid{
        margin:  4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px,480px));
        gap: 5rem;
        grid-auto-flow: row;
    }
}


